
.cxcDetalleBody input[name="siglas"] {
    width: 60px;
}

.cxcDetalleBody input[name="nomcli"], .cxcDetalleBody input[name="nommon"] {
    width: 250px;
}

.cxcDetalleBody input[name="tipoTexto"] {
    width: 120px;
}

.space {
    width: 17px;
}

.spaceVert {
    height: 50px;
}

.cxcDetalleBody input[name="totalCxCCliente"] {
    width: 130px;
}
