
.empresasBody {
    width: 100%;
    height: calc(100vh - 50px);
    overflow-x: hidden;
    overflow-y: auto;
}

.empresasWindow {
    width: 380px;
}

.empresasBody [name="nombre"] {
    width: 300px;
}
