
.headerUserInfoBody {
    line-height: 1;
}

.headerUserInfoName {
    color: #fff;
    font-size: 11px;
}

.headerUserInfoEmail {
    color: #fff;
    font-size: 11px;
}

.headerUserInfoIconBox {
    border-radius: 50%;
    border: 1px solid #fff;
    width: 35px;
    height: 35px;
}

.headerUserInfoIconBox span {
    font-size: 20px;
    color: #fff;
}
